body,
html {
    height: 100%;
    /* Hace que el cuerpo y el documento ocupen toda la altura de la página */
    margin: 0;
    padding: 0;
    background-color: rebeccapurple;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.Titulo{
    text-align: center;
    background-color: #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    width: 80%;
}
.descripcion {
    align-content: center;
    background: #ccc;
}

.columna-central {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    height: 100%;
    /* Toma el 100% de la altura de la página */
}

.contenedor-sombreado {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 85%;
}



/* Media query para ajustar el ancho del código en pantallas más pequeñas (ejemplo: tabletas y móviles) */
@media (max-width: 768px) {
    .codigo-responsivo {
        width: 100%;
    }
}

/*Tablas*/
/* Tabla */
.tabla-bonita {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;

    /* Bordes redondeados */
    border-radius: 5px;

    /* Margen superior e inferior */
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Cabecera de la tabla */
.tabla-bonita thead tr {
    background-color: #ccc;
}

/* Celda de la cabecera */
.tabla-bonita thead th {
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

/* Celda del cuerpo de la tabla */
.tabla-bonita tbody td {
    padding: 10px;
    text-align: center;
    font-size: 14px;
}